.stat-card {
  background: white;
  border-radius: 5px;
  padding: 18px;
  border: 1px solid hsla(0, 0%, 0%, 0.177);
}

.stat-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat-icon {
  display: flex;
  flex: 0 0 22px;
  align-items: center;
  justify-content: center;
}

.stat-icon svg {
  width: 22px;
  height: 22px;
}

.stat-label {
  color: var(--subtitle-color);
  font-size: 14px;
  margin: 0;
}

.stat-value {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-left: 28px;
}
